<link href="css/images.css" rel="stylesheet" type="text/css">

<ul class="nav nav-tabs nav-tabs__images">
    <li role="presentation" class="active">
        <a href="#">Imágenes</a>
    </li>
    <li role="presentation">
        <a href="#">Configuración</a>
    </li>
</ul>

<div class="pictures">
    <img src="{{picture}}" ng-click="openImg($event, $index)" alt="" ng-repeat="picture in pictures track by $index">
</div>

<div class="picture-full-screen" ng-if="showImg">
    <div class="overlay-close" ng-click="closeImg()"></div>
    <img id="img-fullscreen" class="img-fullscreen" src="{{imageUrl}}" alt="Imágen de ">
    <div class="img__carrousel">
        <i class="fa fa-angle-left swipe swipe-left" ng-click="swipeleft()" aria-hidden="true" id="swipe-left"></i>
        <div class="img__carrousel-list">
            <img src="{{picture}}" ng-click="openImg($event, $index)" alt="" ng-repeat="picture in pictures track by $index">
        </div>
        <i class="fa fa-angle-right swipe swipe-right" aria-hidden="true" id="swipe-left"></i>
    </div>
</div>